<div class="hero">
    <h1>Snowfall Boilerplate</h1>
    <p>End-to-end web project based on three stages: Design, Front-end and Back-end</p>
    <a class="button" href="https://marceloglacial.github.io/snowfall-boilerplate/">View on GitHub</a>
</div>