<!DOCTYPE html>
<html lang="en">

<head>
    <noscript>
        <div class="alert alert-danger" role="alert">
            You need to enable JavaScript to run this app.
        </div>
    </noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110615190-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'XX===== YOUR CODE HERE ======XX');
    </script>
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">

    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- INFO -->
    <title>___________ PROJECT TITLE ___________</title>
    <meta name="description" content="___________ PROJECT DESCRIPTION ___________" />
    <meta name="keywords" content="___________ PROJECT KEYWORDS ___________" />

    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Apple Touch Icon (at least 200x200px) -->
    <link rel="apple-touch-icon" href="tile.png">

    <!-- To run web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml" />

    <!-- SOCIAL -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="___________ PROJETC URL ___________">
    <meta property="og:title" content="___________ PROJECT TITLE ___________">
    <meta property="og:image" content="tile-wide.png">
    <meta property="og:description" content="___________ PROJECT DESCRIPTION ___________">
    <meta property="og:site_name" content="___________ PROJECT NAME ___________">
    <meta property="og:locale" content="en_US">

    <!-- STYLES -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
</head>

<body>
    <header>
        <h1>_ PROJECT TITLE _</h1>
        <p>_Project description_</p>
    </header>


    <!-- SCRIPTS -->
    <script async src="assets/js/main.js"></script>
</body>

</html>