include partials/header.pug
body
    div.wrapper
        header
            div.container 
                h1 
                    a(href="https://marceloglacial.github.io/snowfall-boilerplate/") Snowfall Boilerplate
        main.main
            div.container
                img( src="assets/img/github.png" alt="gihub")/
        footer 
            div.container
                p Created by <a href="http://marceloglacial.com">Marcelo Glacial</a>
    include partials/footer.pug