// Base Structure
// ------------------------------------------------
body {
  background: var(--white);
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.container {
  margin: 0 auto;
  padding: 0 var(--spacing);

  @include media('>phone') {
    max-width: var(--desktophd);
  }

  &--full {
    padding: 0 var(--spacing);
    max-width: unset;
  }
}
