body {
  font-family: var(--font-primary);
  font-size: var(--paragraph);
  color: var(--color-primary);
}

h1 {
  font-size: var(--heading-1);
  margin: var(--spacing) 0;
}
h2 {
  font-size: var(--heading-2);
  margin: var(--spacing-half) 0;
}
h3 {
  font-size: var(--heading-3);
  margin: var(--spacing-half) 0;
}
h4 {
  font-size: var(--heading-4);
  margin: var(--spacing-half) 0;
}
h5 {
  font-size: var(--heading-5);
  margin: var(--spacing-half) 0;
}
h6 {
  font-size: var(--heading-6);
  margin: var(--spacing-half) 0;
}
p {
  font-size: var(--paragraph);
}
