// Variables
// ------------------------------------------------
$font-primary: 'Roboto', sans-serif;

// Sizes
// ------------------------------------------------
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-32: 2rem;
$size-40: 2.5rem;
$size-48: 3rem;
$size-63: 3.9375rem;
$size-64: 4rem;

// Weights
// ------------------------------------------------
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// Colors
// ------------------------------------------------
$white: #ffffff;
$black: #000000;
$black-soft: #080911;
$black-blue: #131244;
$pink: #6f1b77;
$gold: #ffb301;
$blue: #172253;

$color-primary: $black;
$color-accent: $pink;

// Responsiveness
// ------------------------------------------------
$breakpoints: (
  'small': 560px,
  'medium': 768px,
  'large': 1024px,
  'extra-large': 1280px,
  'super-large': 1920px,
  '4k': 2560px,
);
