<main>
  <div class="container">
    <h1>Snowfall Boilerplate</h1>
    <p>
      End-to-end web project boilerplate based on three stages:
    </p>
    <ul>
      <li>Design</li>
      <li>Front-end</li>
      <li>Back-end</li>
    </ul>
    <p>
      More info:
      <a href="https://github.com/marceloglacial/snowfall-boilerplate"
        >https://github.com/marceloglacial/snowfall-boilerplate</a
      >
    </p>
    <p>Created by <a href="http://marceloglacial.com">Marcelo Glacial</a></p>
  </div>
</main>
