<main>
  <div class="container">
    <h1>Snowfall Boilerplate</h1>
    <div class="row">
      <div class="col">
        <p>
          End-to-end web project boilerplate based on three stages:
        </p>
        <ul>
          <li>Design</li>
          <li>Front-end</li>
          <li>Back-end</li>
        </ul>
        <p>
          More info:
          <a href="https://github.com/marceloglacial/snowfall-boilerplate"
            >snowfall-boilerplate</a
          >
        </p>
        <p>
          Created by <a href="http://marceloglacial.com">Marcelo Glacial</a>
        </p>
      </div>
      <div class="col">
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
        <h6>h6</h6>
      </div>
    </div>
  </div>
</main>
