

// Title: Snowfall Boilerplate
// Author: Marcelo Glacial
// Author URL: http: //marceloglacial.com
// Starts on: 05/2017


// Global  
// =======================================================

body {  
    position: relative;
    width: 100%;
    height: 100%;
    font-family: $main-font;
    color: $main-color;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    text-overflow: ellipsis;
    color: $main-color;
}
p {
    color: $secondary-color;
}

// Main CSS
// =======================================================
