

// Title: Iceberg Boilerplate
// Author: Marcelo Glacial
// Author URL: http: //marceloglacial.com
// Starts on: 05/2017


// General  
// =======================================================

body {  
    position: relative;
    width: 100%;
    height: 100%;
}

h1
h2,
h3,
h4,
h5,
h6 {
    text-overflow: ellipsis;
}


// Main CSS
// =======================================================
